@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: 0;
    font-size: inherit;
    color: black;
    list-style: none;
}

html {
    scroll-behavior: smooth;
    background-color: #ffffff;
}
 
.body-container {
    max-width: 400px;
    font-family: 'Rubik', sans-serif;
    margin: 0 auto;
    background-color: #002c3e;
} 

header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    font-size: 16px;
    font-weight: 500;
    color: #f7f8f3;
    transition: transform 0.8s ease-out;
    margin: 0px 15px;
    text-transform: uppercase;
}

nav a:hover {
    transform: scale(0.9);
    transition: transform 0.8s ease-out;
    cursor: pointer;
}

header button {
    color: #f7f8f3;
    background-color: #002c3e;
    border: none;
    margin-left: 30px;
    width: 160px;
    cursor: pointer;
}

header path {
    color: #f7444e;   
}

.title-container {
    background-color: #002c3e;
    height: 600px;
    padding-top: 120px;
    margin-bottom: 60px;
}

h1 {
    color: #f7f8f3;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-left: 30px;
    
}

.title-container button {
    cursor: pointer;
    height: 40px;
    width: 210px;
    margin: 100px 50px 0px 100px;
    background-color: #002c3e;
    border: 2px solid #f7444e;
    border-radius: 12px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    transition: transform 1s ease-out;
}

.title-container button a {
    color: #ffffff;
}


.title-container button:hover {
    background-color: #f7444e;
    transform: scale(0.9);
    transition: transform 1s ease-out;
}

h1 span {
    color: #f7444e;
    text-transform: uppercase;
    margin-right: 10px;
}

.about-me {
    margin: 0 auto;
}

.hello {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    padding: 20px;
    color: #f7444e;
}

.description {
    color: #f7f8f3;
    font-size: 18px;
    line-height: 32px;
    padding: 0px 50px 40px 50px;
    text-align: center;
}

.tools-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 600px;
}

.card-tool {
    width: 100%;
    height: 250px;
    text-align: center;
}

.tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 17px;
    font-weight: lighter;
    height: 40px;
    color: #ffffff;
    text-transform: uppercase;
}

.tools img {
    margin: 30px 10px 0px 10px;
    height: 60px;
    transition: transform 1s ease-out;
}

.tools .svg-logo {
    width: 100px;
}

.tools img:hover {
    transform: scale(0.9);
    transition: transform 1s ease-out;
}

.proyects-container {
    position: relative;
    margin-top: 20px;
}

.proyect {
   
    width: 380px;
    height: 600px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease-out;
    margin-left: 10px;
}

.proyect:hover {
    transform: scale(1.1, 1.1);
    transition: transform 1s ease-out;
}

.proyect img {
    border-radius: 10px;
    width: 100%;
    height: 210px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.59); 
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.59);
}

.proyect-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proyect h3 {
    font-size: 17px;
    text-align: center;
    padding: 20px;
}

.proyect p {
    font-size: 15px;
    line-height: 32px;
    padding: 40px 0px;
    width: 250px;
    font-weight: 300;
    text-align: center;
    color: white;

}

.div-icon-proyect {
    border-top: 1px solid white;
    padding-top: 10px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-icon-proyect path {
    color: rgba(255, 255, 255, 0.795);
}

.div-icon-proyect path:hover  {
    color:#bd4e54;
}

footer {
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid white;
}

footer p {
    width: 150px;
    color: #f7f8f3;
    font-size: 30px;
    font-weight: bold;
   
}

footer p span {
    color: #f7444e;
}

.container-icons {
    width: 140px;
    height: 80px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;  
}

.container-icons img {
    margin: 0px 10px;
    width: 28px;
    height: 28px;
    transition: transform 1s ease-out;
}

.container-icons img:hover {
    transform: scale(0.9);
    transition: transform 1s ease-out;
}

@media screen and (min-width: 900px) {
    .body-container {
        max-width: 1200px;
        background-color: #002c3e;
    }

    nav {
        justify-content: flex-end;
        margin-right: 50px;
        height: 50px;
    };

    .title-container {
        margin-bottom: 80px;
        height: 550px;
    }

    .title-container button {
        margin-left: 130px;
    }

    h1 {
        margin: 0 auto;
        width: 1000px;
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 20px;
        padding-left: 30px;
    }

    .about-me {
        width: 70%;
        padding-bottom: 30px;
    }

    .tools-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 20px auto 30px auto; 
        height: 400px;
    }

    .card-tool {
        width: 300px;
        margin: 30px 40px;
        height: 300px;
    }

     h3 {
        font-size: 16px;
        height: 40px;
        border-bottom: none;
    }

    .tools img {
        height: 50px;
    }

    .proyects-container {
       display: flex;
       justify-content: space-evenly;
       align-items: center;  
    }

    .proyect {
        width: 350px;
        height: 650px;
        margin: 10px 10px;
    }
    
    .proyect img {
        width: 330px;
        height: 220px;
    }
    
    .proyect-info {
        padding: 20px 0px;
    }

    .proyect-info h3 {
        padding: 10px;
    }

    footer {
        width: 700px;
        margin: 0 auto;
    }

    footer p {
        height: 150px;
        margin: 0 auto;
        width: 240px;
        font-size: 50px;
    }

    .container-icons {
        width: 400px;
    }

    .container-icons img {
        margin: 0px 15px;
    }
}


