@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: 0;
    font-size: inherit;
    color: black;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}
 
body {
    max-width: 400px;
    font-family: 'Rubik', sans-serif;
    margin: 0 auto;
    border: 1px solid;
} 

header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    margin-top: 20px;
    width: 300px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    font-size: 14px;
    font-weight: 400;
    color: rgb(71, 66, 66);
    transition: transform 0.8s ease-out;
}

nav a:hover {
    transform: scale(0.9);
    transition: transform 0.8s ease-out;
    cursor: pointer;
    color: #1b62d4;
}


.title-container {
    height: 600px;
    padding-top: 120px;
    margin-bottom: 60px;
}

.title-container svg {
    margin-top: 200px;
}

.div-title {
    border-left: 8px solid #1b62d4;
    margin: 0px 0px 30px 40px;
}

h1 {
    color: rgb(71, 66, 66);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-left: 30px;
}

h4 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    color: #1b62d4;
    padding-left: 30px;
}

.title-container path {
    margin-top: 190px;
}

.about-me {
    border-radius: 40px;
    margin: 0 auto;
    width: 90%;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.178); 
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.185);
}

.hello {
    text-align: center;
    font-size: 32px;
    padding: 20px;
}

.hello span {
    color: #F9BC60;
    font-weight: bold;
}

.description {
    font-size: 18px;
    line-height: 28px;
    padding: 10px 50px;
    text-align: center;
}

.tools-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 40px auto 0px auto; 
}

.card-tool {
    width: 350px;
    margin: 30px 50px;
    text-align: center;
}

.tools {
    margin-top: 10px;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tools h3 {
    font-size: 20px;
    height: 40px;
}

.tools img {
    margin: 30px 10px 0px 10px;
    height: 60px;
    transition: transform 1s ease-out;
}

.tools img:hover {
    transform: scale(0.9);
    transition: transform 1s ease-out;
}

.proyects-container {
    margin: 20px auto;
}

h2 {
    width: 100px;
    margin: 0px auto;
    font-size: 25px;
    font-weight: bold;
    color: #1b62d4;
}

.proyect {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px 0px;
}

.proyect img {
    border-radius: 30px;
    width: 380px;
    height: 230px;
    border: 1px solid #0000004f;
}


.proyect-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proyect h3 {
    padding: 30px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.proyect p {
    padding: 10px 0px;
    width: 250px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}

.div-icon-proyect {
    padding-top: 10px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-icon-proyect path {
    color: rgba(59, 58, 58, 0.795);
}

.div-icon-proyect path:hover  {
    color:#1b62d4;
}

footer {
    height: 200px;
}

footer h2 {
    width: 250px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-icons {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin: 40px 0px 20px 0px;

}

.container-icons img {
    margin: 0px 10px;
    width: 20px;
    height: 20px;
}

footer span {
    font-size: 12px;
    color: #1b62d4;
    margin: 10px;
}


@media screen and (min-width: 900px) {
    body {
        max-width: 1200px;
    }

    nav a {
        font-size: 17px;
    }

    .title-container {
        margin-bottom: 80px;
    }

    .div-title {
        border-left: 8px solid #1b62d4;
        margin-left: 170px;
    }
    
    h1 {
        color: rgb(71, 66, 66);
        font-size: 55px;
        font-weight: 700;
        margin-bottom: 20px;
        padding-left: 30px;
    }
    
    h4 {
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 500;
        color: #1b62d4;
        padding-left: 30px;
    }

    .title-container svg {
        margin-top: 80px;
    }

    .about-me {
        width: 60%;
        padding-bottom: 30px;
    }

    .tools-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 40px auto 30px auto; 
    }

     h3 {
        font-size: 20px;
        height: 40px;
        color: #1b62d4;
    }

    .proyect {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 900px;
        margin: 20px auto;
    }
    
    .proyect img {
        width: 400px;
    }
    
    .proyect-info {
        width: 400px;
    }
}




















/* PROYECTS SECTION */ 


/* 

 */

